h1 {
  color: aqua;
  font-size: 60px;
}
#nombre {
  color: chocolate;
}
.novia {
  color: aquamarine;
  background-color: rgb(30, 48, 42);
  text-align: center;
}

.caja {
  width: 1000px;
  height: 500px;
  margin: 100px;
  border: 5px dotted red;
  padding: 30px;
}
#uno {
  color: rgb(194, 21, 21);
}

img {
  width: 600px;
}

.contenedor {
  display: flex;
  justify-content: space-around;
  background-color: aqua;
}
#dos {
  padding-top: 70px;
  padding-right: 40px;
}

.grid-contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media (max-width: 600px) {
  .contenedor {
    flex-direction: column;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}
table {
  width: 50%;
  border-collapse: collapse;
  margin-left: 50px;
  background-color: rgb(179, 255, 0);
  
}
th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}
th {
  background-color: #f4f4f4;
}
